# Configurações gerais
ENV=development

# MySQL (Write Model)
MYSQL_DSN=ecommerce:ecommerce@tcp(mysql:3306)/ecommerce?parseTime=true

# MongoDB (Read Model)
MONGO_URI=mongodb://admin:admin@mongo:27017/ecommerce?authSource=admin

# Kafka
KAFKA_BROKERS=kafka:9092

# Outbox
OUTBOX_POLL_INTERVAL=1s

# User Service
SERVICE_NAME=user-service
PORT=8081

# Product Service
SERVICE_NAME=product-service
PORT=8082

# Order Service
SERVICE_NAME=order-service
PORT=8083

# Query Service
SERVICE_NAME=query-service
PORT=8084
